body {
    background-image: url("../images/gradient_pink_shades.jpg");
}
.main-card {
    margin-top: -45px;
    background-image: url("../images/headerimg1cropagain.jpg")
}
.title {
    color: #ffffff; 
    font-family: 'Lobster Two', cursive; 
     text-shadow: 3px 3px 4px rgb(247, 158, 80); 
    font-size: 50px;
}
.card-image {
    background-repeat: no-repeat;
     background-size: cover; 

}

.container {
    max-width: 75%;
}
.form-control {
    width: 30%;
    margin-left: 35%;
}
.form-group {
    margin: 50px 20px 0;
}
h1 {
    font-weight: 600;
}
p{
    font-weight: bold;
    color: #000000;
    font-size: 18px;
    margin-bottom: 0;
}
.food {
    color: white;
    text-shadow: 1px 1px 2px #000000;
}
label {
    color: rgb(255, 165, 86); 
    text-shadow: 2px 2px 3px #000000 ;
    /* font-family: 'Abril Fatface', cursive; */
    font-size: 18px;
}
.resturant-table {
    max-width: 100%;
    margin-left: 0;

}
h2 {
    font-size: 22px;
}
.table-title {
    margin-bottom: -5px;
    font-weight: bold;
    padding: 10px 0;
}
.recent-title {
    margin-bottom: -5px;
    font-weight: bold;
    padding: 10px 0;
}
.recent-header {
    background-color: rgb(233, 231, 231);
}

.table-header {

    background-color: rgb(233, 231, 231);
}
.table-striped {
    background-color: peachpuff;
}
th {
    font-weight: bold;
}
.sec-col, .first-col {
    padding-top: 20px;
}

@media (max-width: 767.98px) { 

    .container {
    max-width: 100%;
    }
}